table{
    border-collapse: collapse;
    width: 80%;
    text-align: left;
    padding: 15px;
    border: 1px solid black;
}

td {
    height: 50px;
    vertical-align: bottom;
}

table, th, td {
    border: 1px solid gray;
}

body {
    font-family: 'Verdana', 'Helvetica';
}

.yes {
    background-color: dodgerblue;
}

.late {
    background-color: red;
}
